<launch>
    <arg name="child_frame_name" default="tello_slam_detector"/>
    <arg name="frame_name" default="base_link"/>
    <arg name="pi" value="3.141592653589793"/>
    <arg name="offset" default="$(eval ' '.join(map(str, [0.04, 0, 0, 0, pi/2, pi/2])))"/>
    <arg name="offset1" default="$(eval ' '.join(map(str, [0.0, 0, 0, 0, 0 ,0])))"/>

    <node pkg="tf2_ros" name="offset_camera_to_base_link" type="static_transform_publisher"
        args="$(arg offset) $(arg frame_name) $(arg child_frame_name)"/>

</launch>