<launch>
    <!-- ID of the drone -->
    <arg name="id"/>

    <group ns="tello_$(arg id)">

        <include file="$(find pose_estimation)/launch/static_markers.launch">
            <arg name="marker_count" value="1"/>
        </include>

        <!-- Tello slam launch files -->
        <include file="$(find tello_slam_ros)/launch/tello_slam_ros_detector.launch">
            <arg name="tello_slam_detector_frame_name" value="WO"/>
            <arg name="tello_slam_detector_child_frame_name" value="Cwo"/>
        </include>

        <include file="$(find tello_slam_ros)/launch/tello_slam_ros_display.launch">
            <arg name="show_display" value="false"/>
        </include>

        <!-- Aruco_eye launch files -->
        <include file="$(find aruco_eye_ros)/launch/aruco_eye_ros_detector.launch">
            <arg name="aruco_detector_frame_name" value="Cwo"/>
            <arg name="aruco_marker_child_base_name" value="VMd_"/>
        </include>

        <include file="$(find aruco_eye_ros)/launch/aruco_eye_ros_display.launch">
            <arg name="flag_display_output_image" value="false"/>
        </include>
        
        <!--<node pkg="pose_estimation" name="visual_marker_transform" type="visual_marker_transform.py"></node>-->
    </group>
</launch>