<launch>
    <arg name="id"/>
    <arg name="marker_count" default="1"/>
    <arg name="grounded" default="false"/>

    <group ns="tello_$(arg id)">
        <include file="$(find tello_ros)/launch/drone.launch" if="$(eval grounded)"/>
        <include file="$(find tello_ros)/launch/drone.launch" if="$(eval not grounded)">
            <arg name="grounded" value="false"/>
        </include>

        <param name="search_marker_enabled" value="true"/>
        <node pkg="tello_formation" name="controller" type="controller.py" args="--id $(arg id)"/>
    </group>
</launch>
