<launch>
    <arg name="id" default="0" />

        <group ns="tello_$(arg id)">
            <include file="$(find tello_slam_ros)/launch/tello_slam_ros_ros_detector.launch">
                <arg name="run_sequential" value="False" />
                <arg name="input_world_map_file_name" value="/home/pedros/slam-videos/world.map" />
            </include>

            <include file="$(find tello_slam_ros)/launch/tello_slam_ros_display.launch">
                <arg name="show_display" value="False"/>
            </include>
        </group>
</launch>