<launch>
    <!-- frames -->
    <arg name="world" default="world"/>
    <arg name="detector" default="aruco_detector"/>
    <arg name="robot" default="drone"/>
    
    <arg name="pi" value="3.141592653589793"/>
    <arg name="detector_offset" default="$(eval ' '.join(map(str, [0.05, 0, 0, -pi/2, 0, -pi/2])))"/>

    <!-- naive estimation: most recent transform will overwrite previous one
         meaning that seeing several markers at once won't help, and might cause jumps -->
    <node pkg="tf2_ros" name="detector_offset" type="static_transform_publisher"
        args="$(arg detector_offset) $(arg robot) $(arg detector)"/>
</launch>
