<launch>
    <!-- frames -->
    <arg name="world" default="world"/>

    <!-- static marker transforms -->
    <node if="$(eval marker_count > 0)" pkg="marker_localisation" name="$(arg marker_base_name)0_in_$(arg world)" type="static_transform.sh"
        args="marker_localisation/markers/$(arg marker_base_name)0 $(arg world) $(arg marker_base_name)0"/>

</launch>
